# Introduction/Business Problem

#### The problem we will solve is: which of the neighbourhoods of Toronto are more suitable to open there a restaurant?

#### To solve this problem we will use the dataframe from the previous ptactical work. The dataframe is the following

In [1]:
import pandas as pd 
import numpy as np
import requests
from pandas.io.json import json_normalize

csv_path='/resources/data/Toronto_neighbourhoods_2.csv'
df=pd.read_csv(csv_path, sep=",", encoding='cp1252')
df.drop(['Unnamed: 0'], axis=1,inplace=True)

#### The dataframe df contains all Toronto postcodes and  boroughs as well as Toronto neighbourhoods grouped by their postcodes. Two last columns of the dataframe contain latitudes and longitudes of these neighbourhood groups.

In [2]:
df.head()

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

#### The dataframe df contains 103 rows and 5 columns

In [3]:
df.shape

(103, 5)

## Define Foursquare Credentials and Version

In [4]:
CLIENT_ID = 'OTQDBGJPMXHTIMHHNO5OPVE1VJBEOZ3NHSWWMRMUB1N0MW5H' # your Foursquare ID
CLIENT_SECRET = 'QHV23BYJTV2BATLWELNUMSXG1VTPU4UV2MAYW4MIZMP2UN55' # your Foursquare Secret
VERSION = '20180605' # Foursquare API version
LIMIT=30

print('Your credentails:')
print('CLIENT_ID: ' + CLIENT_ID)
print('CLIENT_SECRET:' + CLIENT_SECRET)

Your credentails:
CLIENT_ID: OTQDBGJPMXHTIMHHNO5OPVE1VJBEOZ3NHSWWMRMUB1N0MW5H
CLIENT_SECRET:QHV23BYJTV2BATLWELNUMSXG1VTPU4UV2MAYW4MIZMP2UN55

#### For each group of neighbourhoods in df we will be interested in number of restaurants within 1000 meters from the geographical position of that group (which is given by two last columns of df in the corresponding row). So, first put radius = 1000 and search_query='restaurant'

In [5]:
radius=1000
search_query='restaurant'

### Add to df a column 'sum', which is exactly the number of restaurants within 1000 meters from a neighbourhood

In [6]:
df['sum']=""
for k, row in df.iterrows():
    (lat,lng)= (row["Latitude"], row["Longitude"])
    url = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, lat, lng, VERSION, search_query, radius, LIMIT)
    results = requests.get(url).json()
    df.set_value(index=k,col='sum',value=len(results['response']['venues']))
    
# Url = Url.append({'Italian food': url}, ignore_index=True)

/home/jupyterlab/conda/lib/python3.6/site-packages/ipykernel_launcher.py:6: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

In [7]:
df.head(10)

,Postcode,Borough,Neighbourhood,Latitude,Longitude,sum
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353,0
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497,1
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711,5
3,M1G,Scarborough,Woburn,43.770992,-79.216917,3
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476,8
5,M1J,Scarborough,Scarborough Village,43.744734,-79.239476,7
6,M1K,Scarborough,"East Birchmount Park, Ionview, Kennedy Park",43.727929,-79.262029,5
7,M1L,Scarborough,"Clairlea, Golden Mile, Oakridge",43.711112,-79.284577,3
8,M1M,Scarborough,"Cliffcrest, Cliffside, Scarborough Village West",43.716316,-79.239476,1
9,M1N,Scarborough,"Birch Cliff, Cliffside West",43.692657,-79.264848,4

### Cluster neighbourhoods by parameter 'sum'

In [8]:
from sklearn.cluster import KMeans

In [9]:
X = df[['sum','Longitude','Latitude']]
X.head()

  sum  Longitude   Latitude
0   0 -79.194353  43.806686
1   1 -79.160497  43.784535
2   5 -79.188711  43.763573
3   3 -79.216917  43.770992
4   8 -79.239476  43.773136

In [10]:
# set number of clusters
N = 3

# run k-means clustering
kmeans = KMeans(n_clusters=N, random_state=0).fit(X)

## The results of clustering

In [11]:
# check cluster labels generated for each row in the dataframe
kmeans.labels_

array([0, 0, 0, 0, 2, 2, 0, 0, 0, 0, 0, 2, 1, 2, 2, 0, 0, 0, 2, 0, 0, 2,
       1, 0, 0, 0, 0, 0, 0, 2, 2, 0, 0, 0, 0, 0, 0, 2, 0, 2, 1, 1, 2, 2,
       0, 1, 2, 1, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 0, 2, 1,
       1, 1, 0, 1, 1, 0, 0, 2, 2, 1, 2, 1, 2, 0, 0, 0, 0, 2, 2, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0], dtype=int32)

#### Add cluster labels as the last column to df

In [15]:
df["Cluster Labels"] = kmeans.labels_ 
df

,Postcode,Borough,Neighbourhood,Latitude,Longitude,sum,Cluster Labels
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353,0,0
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497,1,0
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711,5,0
3,M1G,Scarborough,Woburn,43.770992,-79.216917,3,0
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476,8,2
5,M1J,Scarborough,Scarborough Village,43.744734,-79.239476,7,2
6,M1K,Scarborough,"East Birchmount Park, Ionview, Kennedy Park",43.727929,-79.262029,5,0
7,M1L,Scarborough,"Clairlea, Golden Mile, Oakridge",43.711112,-79.284577,3,0
8,M1M,Scarborough,"Cliffcrest, Cliffside, Scarborough Village West",43.716316,-79.239476,1,0
9,M1N,Scarborough,"Birch Cliff, Cliffside West",43.692657,-79.264848,4,0
10,M1P,Scarborough,"Dorset Park, Scarborough Town Centre, Wexford ...",43.757410,-79.273304,6,0
11,M1R,Scarborough,"Maryvale, Wexford",43.750071,-79.295849,10,2
12,M1S,Scarborough,Agincourt,43.794200,-79.262029,21,1
13,M1T,Scarborough,"Clarks Corners, Sullivan, Tam O'Shanter",43.781638,-79.304302,9,2
14,M1V,Scarborough,"Agincourt North, L'Amoreaux East, Milliken, St...",43.815252,-79.284577,11,2
15,M1W,Scarborough,"L'Amoreaux West, Steeles West",43.799525,-79.318389,6,0
16,M1X,Scarborough,Upper Rouge,43.836125,-79.205636,0,0
17,M2H,North York,Hillcrest Village,43.803762,-79.363452,3,0
18,M2J,North York,"Fairview, Henry Farm, Oriole",43.778517,-79.346556,10,2
19,M2K,North York,Bayview Village,43.786947,-79.385975,0,0
20,M2L,North York,"Silver Hills, York Mills",43.757490,-79.374714,0,0
21,M2M,North York,"Newtonbrook, Willowdale",43.789053,-79.408493,11,2
22,M2N,North York,Willowdale South,43.770120,-79.408493,23,1
23,M2P,North York,York Mills West,43.752758,-79.400049,3,0
24,M2R,North York,Willowdale West,43.782736,-79.442259,4,0
25,M3A,North York,Parkwoods,43.753259,-79.329656,0,0
26,M3B,North York,Don Mills North,43.745906,-79.352188,2,0
27,M3C,North York,"Flemingdon Park, Don Mills South",43.725900,-79.340923,6,0
28,M3H,North York,"Bathurst Manor, Downsview North, Wilson Heights",43.754328,-79.442259,6,0
29,M3J,North York,"Northwood Park, York University",43.767980,-79.487262,8,2
...,...,...,...,...,...,...,...
73,M6C,York,Humewood-Cedarvale,43.693781,-79.428191,11,2
74,M6E,York,Caledonia-Fairbanks,43.689026,-79.453512,9,2
75,M6G,Downtown Toronto,Christie,43.669542,-79.422564,30,1
76,M6H,West Toronto,"Dovercourt Village, Dufferin",43.669005,-79.442259,8,2
77,M6J,West Toronto,"Little Portugal, Trinity",43.647927,-79.419750,24,1
78,M6K,West Toronto,"Brockton, Exhibition Place, Parkdale Village",43.636847,-79.428191,11,2
79,M6L,North York,"Maple Leaf Park, North Park, Upwood Park",43.713756,-79.490074,2,0
80,M6M,York,"Del Ray, Keelesdale, Mount Dennis, Silverthorn",43.691116,-79.476013,5,0
81,M6N,York,"The Junction North, Runnymede",43.673185,-79.487262,5,0
82,M6P,West Toronto,"High Park, The Junction South",43.661608,-79.464763,6,0
83,M6R,West Toronto,"Parkdale, Roncesvalles",43.648960,-79.456325,10,2
84,M6S,West Toronto,"Runnymede, Swansea",43.651571,-79.484450,10,2
85,M7A,Queen's Park,Queen's Park,43.662301,-79.389494,30,1
86,M7R,Mississauga,Canada Post Gateway Processing Centre,43.636966,-79.615819,6,0
87,M7Y,East Toronto,Business reply mail Processing Centre969 Eastern,43.662744,-79.321558,2,0
88,M8V,Etobicoke,"Humber Bay Shores, Mimico South, New Toronto",43.605647,-79.501321,3,0
89,M8W,Etobicoke,"Alderwood, Long Branch",43.602414,-79.543484,3,0
90,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North",43.653654,-79.506944,2,0
91,M8Y,Etobicoke,"Humber Bay, King's Mill Park, Kingsway Park So...",43.636258,-79.498509,5,0
92,M8Z,Etobicoke,"Kingsway Park South West, Mimico NW, The Queen...",43.628841,-79.520999,3,0
93,M9A,Etobicoke,Islington Avenue,43.667856,-79.532242,0,0
94,M9B,Etobicoke,"Cloverdale, Islington, Martin Grove, Princess ...",43.650943,-79.554724,0,0
95,M9C,Etobicoke,"Bloordale Gardens, Eringate, Markland Wood, Ol...",43.643515,-79.577201,2,0
96,M9L,North York,Humber Summit,43.756303,-79.565963,1,0
97,M9M,North York,"Emery, Humberlea",43.724766,-79.532242,0,0
98,M9N,York,Weston,43.706876,-79.518188,10,2
99,M9P,Etobicoke,Westmount,43.696319,-79.532242,6,0
100,M9R,Etobicoke,"Kingsview Village, Martin Grove Gardens, Richv...",43.688905,-79.554724,3,0
101,M9V,Etobicoke,"Albion Gardens, Beaumond Heights, Humbergate, ...",43.739416,-79.588437,3,0
102,M9W,Etobicoke,Northwest,43.706748,-79.594054,4,0